{{ define "main" }}

<div class="list_container content_area">
  <div class="list_main_container">
    <main class="list_main card">
      <header class="list_header">
        <h1 class="list_title">{{ .Title }}</h1>
      </header>
      <section class="list_body">
        {{ .Content }}
      </section>

      <ul class="page_list">
        {{ range .Pages }}
        <li class="page_list_item">
          <div class="page_timestamps">
            <time class="published_date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02"  }}</time>
            {{ if ne .Date .Lastmod }}
            <time class="modified_date" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">Updated: {{ .Lastmod.Format "2006-01-02"  }}</time>
            {{ end }}
          </div>
          <a class="page_title" href="{{ .Permalink }}">{{ .Title }}</a>
          <div class="page_taxonomies">
            {{ with .GetTerms "categories" }}
            <ul class="taxonomy_list has_icon_categories">
              {{ range . }}
              <li class="taxonomy_list_item">
                <a class="taxonomy_button" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
              </li>
              {{ end }}
            </ul>
            {{ end }}
            {{ with .GetTerms "tags" }}
            <ul class="taxonomy_list has_icon_tags">
              {{ range . }}
              <li class="taxonomy_list_item">
                <a class="taxonomy_button" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
              </li>
              {{ end }}
            </ul>
            {{ end }}
          </div>
          <div class="page_summary">
            {{ .Summary }}
          </div>
        </li>
        {{ end }}
      </ul>
      {{ template "_internal/pagination.html" . }}
    </main>
  </div>
</div>

{{ end }}
