{{ define "main" }}

<article>
  <header class="article_header">
    <h1 class="article_title">{{ .Title }}</h1>
    <section class="article_content">
      {{ .Content }}
    </section>
  </header>
</article>
<aside class="article_meta">
  <dl>
    <dt>Published</dt>
    <dd>
      <time class="published_date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">Published: {{ .Date.Format "2006-01-02"  }}</time>
    </dd>

    {{ if ne .Date .Lastmod }}
    <dt>Updated</dt>
    <dd>
      <time class="modified_date" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">Updated: {{ .Lastmod.Format "2006-01-02"  }}</time>
    </dd>
    {{ end }}

    {{ with .GetTerms "categories" }}
    <dt>Categolies</dt>
    <dd>
      <ul class="category_list">
      {{ range . }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
      </ul>
    </dd>
    {{ end }}

    {{ with .GetTerms "tags" }}
    <dt>Tags</dt>
    <dd>
      <ul class="tag_list">
      {{ range . }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
      </ul>
    </dd>
    {{ end }}

    <dt>目次</dt>
    <dd>
      {{ if gt ( len .TableOfContents ) 32 }}
        {{ .TableOfContents }}
      {{ end }}
    </dd>
  </dl>
</aside>

<aside class="other_articles">
  <dl>
  {{ with .PrevInSection }}
    <dt>Previous</dt>
    <dd>
      <a class="previous_article" href="{{.Permalink}}"> {{.Title}}</a>
    </dd>
  {{ end }}
  {{ with .NextInSection }}
    <dt>Next</dt>
    <dd>
      <a class="next_article" href="{{.Permalink}}"> {{.Title}}</a>
    </dd>
  {{ end }}
  </dl>
</aside>

{{ end }}
