<div class="header_container content_area">
  <div class="header_body">
    <input type="checkbox" class="menu_trigger" id="menu_trigger">
    <div class="header_main_container">
      <div class="logo_container">
        <div class="site_logo">
          <a href="{{ .Site.BaseURL }}">{{ .Site.Params.Logo.Title | default .Site.Title}}</a>
        </div>
        {{ with .Site.Params.Logo.Tagline }}
        <div class="site_tagline">
          {{ . }}
        </div>
        {{ end }}
      </div>
      <div class="menu_button_container">
        <label class="menu_button is_icon icon_menu" for="menu_trigger"></label>
      </div>
    </div>
    <div class="menu_container">
      <nav class="site_navigation_container">
        <ul class="navigation_list">
          {{ range .Site.Menus.main }}
          <li class="navigation_item">
            <a href="{{ .URL }}" >{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
      {{ with .Site.Params.social }}
      <div class="social_container">
        <ul class="social_list">
          {{ with .github }}
          <li class="social_item">
            <a class="is_icon icon_github" href="https://github.com/{{ . }}"></a>
          </li>
          {{ end }}
          <li class="social_item">
            <a class="is_icon icon_rss" href="{{ .Site.BaseURL }}/index.xml"></a>
          </li>
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>
